.statistics {
  & p {
    background: white;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #7a7b82;
    line-height: 1.5;
  }
}
